PORT=3000
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"
DATABASE_NAME="P3K_DB"
DATABASE_USER="root"
DATABASE_PASSWORD=""
JWT_SECRET="YOUR_SUPER_SECRET_KEY"

# BSrE Configuration (mock | live)
BSRE_MODE="mock"
BSRE_BASE_URL=""
BSRE_USERNAME=""
BSRE_PASSWORD=""
BSRE_TIMEOUT_MS=30000

# LibreOffice Converter (Opsional: path custom binary soffice jika tidak ada di PATH standar)
# LIBREOFFICE_PATH="/Applications/LibreOffice.app/Contents/MacOS/soffice"
# SOFFICE_BIN="soffice"
